[Unit]
Description=Ulta Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/Ulta/service/Ulta-service.sh
Environment=LD_LIBRARY_PATH=/opt/Ulta/client/lib

[Install]
WantedBy=multi-user.target
